# Entornos virtuales
venv/
.env/
.venv/

# Archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env
.env.*

# Distribución
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Dagster temp
.tmp_dagster_home_7ino3q_x/
.tmp_dagster_home_*

# Carpeta outputs
